{% extends 'layout.html' %}
{% block title %}
    Edit {{service.name}}
{% endblock %}

{% block content %}
<h1>Edit Service: {{ service.name }}</h1>

<form action="" method="post" class="form">
    <div class="form-group">
        <label for="service_name" class="form-label">Service Name</label>
        <input type="text" name="service_name" id="service_name" class="form-control" value="{{ service.name }}" required>
    </div>
    <div class="form-group">
        <label for="base_price" class="form-label">Base Price</label>
        <input type="number" name="base_price" id="base_price" class="form-control" value="{{ service.price }}" required>
    </div>
    <div class="form-group">
        <label for="time_required" class="form-label">Minimum Time Required</label>
        <input type="text" name="time_required" id="time_required" class="form-control" value="{{ service.time_required }}">
    </div>
    <div class="form-group">
        <label for="description" class="form-label">Description</label>
        <textarea name="description" id="description" class="form-control" rows="5">{{ service.description }}</textarea>
    </div>
    <div class="form-group">
        <input type="submit" value="Update Service" class="btn btn-primary" style="margin-right: 10px;">
    </div>
    <div class="form-group">
        <input type="hidden" name="action" value="delete">
        <input type="submit" value="Delete Service" class="btn btn-danger" style="margin-top: 10px;">
    </div>
    </div>
</form>
{% endblock %}